@font-face {
    font-family: mobSanity;
    src: url('assets/fonts/MobSanity.ttf') format(TrueType);
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: mobSanity;
    font-size: 36em;
    background-color: black;
    color: white;
}

#counterDisplay {
    perspective: 1200px;
    transform: translateY(-48px);
}

#counterText {
    transform-origin: bottom;
    transform: rotateX(24deg);
}
